<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="de">
<head>
    <meta charset="UTF-8">

    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <title>Title</title>
</head>
<body>
<h1>You are authenticated as:</h1>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/admin">Admin Page</a>
</div>
User Details:<span th:text="${#authentication.name}"></span>


<form>
    <label>User Id
        <input name="userId" type="text">
    </label>
    <label>Admin Role
        <input name="roles" type="checkbox" value="admin"/>
    </label>
    <label>User Role
        <input name="roles" type="checkbox" value="user"/>
    </label>
    <button hx-put="/api/user/setRoles" hx-target="#response">Submit</button>
</form>

<h2>
    <button hx-get="/api/user/logout">Logout</button>
</h2>
<div id="response">

</div>
</body>
</html>
