<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <title>Supabase Auth</title>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
<h1>
    Index
</h1>

<div sec:authorize="!hasRole('ROLE_ANONYMOUS')">
    <a href="/account">Account Page</a>
</div>

<div sec:authorize="hasRole('ROLE_ANONYMOUS')">

    <h2>
        Login
    </h2>
    <form>
        <label>Email:
            <input name="email" type="text"/>
        </label>
        <label>Password:
            <input name="password" type="password"/>
        </label>
        <button hx-post="/api/user/login" hx-swap="outerHTML">Submit</button>
    </form>

    <h2>
        Register
    </h2>
    <form>
        <label>Email:
            <input name="email" type="text"/>
        </label>
        <label>Password:
            <input name="password" type="password"/>
        </label>
        <button hx-post="/api/user/register" hx-swap="outerHTML">Submit</button>
    </form>

</div>

<div style="display: flex; flex-direction: column; gap: 1rem">
    <a href="/resetPassword">Reset Password</a>

    <a href="https://jrwzknoawsweyfkpbizd.supabase.co/auth/v1/authorize?provider=google">Sign In with Google</a>

    <div sec:authorize="!hasRole('ROLE_ANONYMOUS')">
        <h2>
            <button hx-get="/api/user/logout">Logout</button>
        </h2>
    </div>


    <h2>Authentication Object:</h2>
    <h3 th:text="${#authentication }">
        Sign In
    </h3>
</div>

</body>


<script>
    if (window.location.hash.startsWith("#access_token")) {
        htmx.ajax('POST', '/api/user/jwt', {target: '#body', swap: 'outerHTML'})
            .then(window.location.hash = "")
    }
</script>
</html>
