<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <title>Supabase Auth</title>
</head>
<body>
<h1>
    Index
</h1>

<a href="/account">Account Page</a>

<h2>
    Sign In
</h2>
<form>
    <label>Email:
        <input type="text" name="email" />
    </label>
    <label>Password:
        <input type="password" name="password" />
    </label>
    <button  hx-post="/api/user/login">Submit</button>
</form>

<h2>
    Register
</h2>
<form>
    <label>Email:
        <input type="text" name="email" />
    </label>
    <label>Password:
        <input type="password" name="password" />
    </label>
    <button  hx-post="/api/user/register">Submit</button>
</form>

<div id="response"></div>

<a href="https://eyxbhhammxxopyqgwvej.supabase.co/auth/v1/authorize?provider=google">Sign In with Google</a>

</body>
<button  hx-get="/api/user/logout">Logout</button>
<script>
    if(window.location.hash.startsWith("#access_token")){
        console.log("swap body")
        htmx.ajax('POST', '/api/user/jwt', {target:'#body', swap:'outerHTML'})
            .then(window.location.hash = "")
    }
</script>
</html>
